@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html{
}

.main{
  flex-grow: 1;
}

.header-logo{
  width: 140px;
  height: 70px;
}

body{
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  outline: 2px solid red;
  min-height: 100%;
}

.container{
  width: 1200px;
  margin-inline: auto;
}

.navigation-logo{
  margin-left: 70px;
  margin-right: 30px;
  width: 140px;
  height: 70px;
}

.navigation{
  display: flex;
}

.navigation-list{
  width: 340px;
  margin: 0;
  padding: 0;
}

.navigation-user-list{
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.page-button{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#756157;
  border-radius: 4px;
}

.page-button-text{
  color: #FFFFFF;
  text-decoration: none;
}

.main-img{
  background: #F2F2F2;
  background-color: #000000;
  background-image: url(../images/welcome-vector.svg),url(../images/welcome-sedona-img.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.intro-title{
  font-weight:700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 69px;
  padding-bottom: 69px;
}

.intro-text{
  font-weight:400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-city{
  color: #f2f2f2;
  background-color: #82B3D3;
}

.advantages-square{
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-road{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-people{
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-bridge{
  color: #f2f2f2;
  background-color: #82B3D3;
}

.advantages-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.advantages-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.convenience-list{
  display: flex;
  margin: 0;
  padding: 0;
  height: 385px;
}

.convenience-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.convenience-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  flex-wrap: wrap;
}

.convenience-home{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 85px;
  padding-right: 85px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.convenience-eat{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 85px;
  padding-right: 85px;
}

.convenience-soueviners{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 85px;
  padding-right: 85px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  flex-wrap: wrap;
}

.hotel-search-button{
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  margin-top: 54px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

.hotel-search{
  padding-top: 96px;
  padding-bottom: 202px;
  padding-left: 304px;
  padding-right: 304px;
  text-align: center;
}

.subscribe{
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 96px;
  padding-right: 258px;
  padding-left: 258px;
  padding-bottom: 104px;
}

.subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-button{
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.contacts-item{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.author-logo{
  color: #000000;
  text-decoration: none;
}

.header-nav{
  background-image: url(../images/big-rocks.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link{
  color: #ffffff
}

.filter-section{
  color: #ffffff;
}

.catalog-card-list{
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}

.button-apply{
  color: #f2f2f2;
  background-color: #82B3D3;;
}

.catalog-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-control{
  color: #333333;
  background-color: #FFFFFF;
}

.card-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card-text .card-price{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.button-details{
  border-radius: 4%;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.button-favorite{
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-favorite-green{
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}

.pagination-link{
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.subscribe-title-another{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-another-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.subscribe-catalog{
  text-align: center;
}

.social-link{
  color: #000000;
  text-decoration: none;
}

.footer{
  display: flex;
  justify-content: center;
}

.button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.catalog-view-list{
  display: flex;
  justify-content: flex-end;
}
